*{
     margin: 0;
     padding: 0;
 }
 
 #container ul{
    list-style: none;
}
#container ul li{
    background-color: rgb(102, 168, 255);
    width: 150px;
    height: 50px;
    border: 1px solid white;
    line-height: 50px;
    text-align: center;
    float: left;
    color: white;
    font-size: 18px;
    position: relative;
}
#container ul li:hover{
    background-color: rgb(55, 116, 95);
}
#container ul ul{
    display: none;
}
#container ul li:hover > ul{
    display: block;
}
#container ul ul ul{
    margin-left: 150px;
    top: 0px;
    position: absolute;
}
#container ul ul ul ul{
    margin-left: 150px;
    top: 0px;
    position: absolute;
}